@media only screen and (max-width: 768px) {
    #header-container {
        flex-direction: column !important;
    }

    #contact-whatsapp-span {
        position: inherit !important;
        right: auto !important;
        margin-top: 10px;
        width: 25px !important;
        height: 25px !important;
    }
}

/* if backdrop is supported -> blurred header bg, default is slightly transparent with background-color: rgba(54, 57, 141, 0.8);*/
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  header {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: transparent !important;
  }
}

#header {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    text-align: center;

    position: fixed;
    inset: 0 0 auto;
    top: 0;
    width: 100%;
    padding: 10px 0px 10px 0px;
    min-width: var(--min-width-page);

    /* if backdrop is not supported, eg. old mozilla until 2022 */
    background-color: rgba(54, 57, 141, 0.8);
    
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: visibility .5s, opacity .5s;

    border-bottom: 2px solid;
    border-image: var(--gradient-violet-to-yellow-other-way) 20;
}

#header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

#header-title {
    font-size: clamp(1.2rem, 5vw, 1.7rem);
    font-family: Roboto Bold;
    text-shadow: 5px 5px 10px var(--black-basic-color);
    user-select: none;
}

.header-text {
    font-size: clamp(0.8rem, 5vw, 1.0rem);
    font-family: Roboto Bold;
    text-shadow: 5px 5px 10px var(--black-basic-color);
    cursor: text;
}

#header-separator {
    width: 100%;
    color: var(--article-bg-color);
    margin-bottom: 8px;
    margin-top: 10px;
}

#contact-info-header {
    display: flex;
    flex-direction: column;
    transition: opacity .5s, display .5;
    cursor: default;
    padding: 0 20px 0 20px;
}

#contact-whatsapp-span {
    padding: 7px;
    height: 40px;
    width: 40px;
    position: fixed;
    right: 10%;

    background-color: #00d25c;
    border-radius: 100%;
    box-shadow: 5px 5px 10px var(--black-basic-color);

    transition: transform .2s ease;
}

#contact-whatsapp-span img {
    height: 100%;
    width: 100%;
}

#contact-whatsapp-span:hover img {
    animation: rotate-wiggle .4s ease;
    animation-delay: .2s;
}

#contact-whatsapp-span:hover {
    transform: scale(1.1);
}
