@font-face {
    font-family: "Roboto Bold";
    src: url("/media/fonts/Roboto-Bold.ttf")
}

@font-face {
    font-family: "Roboto Regular";
    src: url("/media/fonts/Roboto-Regular.ttf")
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
        opacity: 1 !important;
    }

    .animation-fade-in-from-left {
        transform: translateX(0) !important;
    }

    .animation-fade-in-from-right {
        transform: translateX(0) !important;
    }

    .marquee-group {
        animation-play-state: paused !important;
    }
}

/* Styles for screens up to 767px wide (typical mobile devices) */
/* This is easier than tweaking with the width so that's why this is here */
@media only screen and (max-width: 768px) {
    .article-container {
        width: 90% !important;
    }

    /* If outside of container */
    /* .marquee-wrapper {
        max-width: 80vw !important;
    } */
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.animation-fade-in-from-left {
    opacity: 0;
    transform: translateX(-20%);
    transition: opacity 1s, transform 1s;
}

.animation-fade-in-from-left.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.animation-fade-in-from-right {
    opacity: 0;
    transform: translateX(20%);
    transition: opacity 1s, transform 1s;
}

.animation-fade-in-from-right.fade-in {
    opacity: 1;
    transform: translateX(0);
}


html {
    --article-bg-color: #dfdfdf;
    --black-basic-color: #111111;
    --white-basic-color: rgb(255, 239, 239);
    --gradient-violet-to-yellow-other-way: linear-gradient(30deg, #36398d, #a42380, #ff9034);
    --gradient-violet-to-yellow: linear-gradient(30deg, #ff9034, #a42380, #36398d);

    scrollbar-color: #888 var(--white-basic-color);
    scrollbar-width: thin;
}

body {
    font-size: clamp(1.0em, 1.0vw, 1.5em);
    background-color: var(--black-basic-color);
    font-family: "Roboto Regular";
    color: var(--white-basic-color);

    height: 100vh;
    height: 100svh;
    margin: auto;
}

#gradient-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 0;

    background: var(--gradient-violet-to-yellow);
    background-repeat: no-repeat;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    z-index: 1;
}

main {
    position: absolute;
}

#header {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    transition: visibility .5s, opacity .5s;
    padding: 10px 0px 10px 0px;

    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#header-title {
    font-size: clamp(1.2rem, 5vw, 1.7rem);
    font-family: Roboto Bold;
    text-shadow: 5px 5px 10px var(--black-basic-color);
    user-select: none;
}

.header-text {
    font-size: clamp(0.8rem, 5vw, 1.0rem);
    font-family: Roboto Bold;
    text-shadow: 5px 5px 10px var(--black-basic-color);
    cursor: text;
}

#header-separator {
    width: 100%;
    color: var(--article-bg-color);
    margin-bottom: 8px;
    margin-top: 10px;
}

#contact-info-header {
    display: flex;
    flex-direction: column;
    transition: opacity .5s, display .5;
    cursor: default;
    padding: 0 20px 0 20px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

#huge-text-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-family: Roboto Bold;
    text-align: center;
    height: calc(100vh - 5em);
    user-select: none;
}

#huge-text-title span {
    opacity: 0;
    animation: fade-in 3s;
    animation-fill-mode: forwards;
}

#huge-text-title span:first-child {
    font-size: clamp(3.5rem, 10vw, 8.5rem);
    animation-delay: .5s;
    margin-top: -5%;
    /* background: var(--gradient-violet-to-yellow-other-way);
    background-clip: text;
    color: transparent; */

    text-shadow: 5px 5px 10px var(--black-basic-color);
}

#huge-text-title span:nth-child(3) {
    font-size: clamp(1.5rem, 5vw, 2.0rem);
    padding-top: .5em;
    animation-delay: 2s;
    text-shadow: 5px 5px 5px var(--black-basic-color);
}

#content {
    --content-width: 60%;
    --content-width-vw: 60vw;

    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-bottom: 10em;
    overflow-x: hidden;
}

.article-container {
    width: var(--content-width);
    min-width: min-content;
    position: static;
}

.article-gradient-bg {
    position: relative;
    display: inline-block;
    width: 100%;
}

.article-gradient-bg::before,
.article-gradient-bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 3em;
}

.article-gradient-bg::before {
    background: var(--gradient-violet-to-yellow-other-way);
}

#content .content-child {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--article-bg-color);
    padding: 20px;
    border-radius: 3em;
    z-index: 1;
}

/* The gradient background should be brought from the actual gradient background container
the p-elements itself should have a transparent background which then shows the gradient background */
#content .content-child p {
    padding: calc(5px + 2%);
}

/* This is quite bad way to handle this, but the marquee is tricky to position correctly otherwise */
.marquee-space-bottom {
    margin-bottom: 5rem;
}

.marquee-space-top {
    margin-top: 7.5rem;
}


#content .content-child p.list {
    padding: calc(5px + 2%);
    padding-top: 0;
    margin-left: 6%;
    line-height: 30px;
}

.gradient-bg-text {
    background-color: #36398d;
    background-image: var(--gradient-violet-to-yellow-other-way);
    background-image: conic-gradient(30deg, #36398d, #a42380, #ff9034);
    /* Fallback */
    background-size: 100%;
    background-clip: text;
    color: transparent;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#content .rounded-img {
    object-fit: cover;
    border-radius: 100%;
    width: clamp(200px, 30%, 400px);
    height: clamp(200px, 30%, 400px);
    padding: calc(5px + 2%);
}

#content .content-child span {
    width: 100%;
    position: relative;
}

.article-wrap-column {
    flex-direction: column-reverse !important;
}

.article-title {
    font-family: Roboto Bold;
    font-size: clamp(1.2em, 1.0vw, 1.7em);
    padding: calc(5px + 2%);
}

.content-small-titles {
    position: relative;
    font-size: clamp(1.5rem, 5vw, 2.0rem);
    opacity: 0;
    font-family: Roboto Bold;
    transition: opacity 1s;
    transition-delay: .5s;
    text-shadow: 5px 5px 10px var(--black-basic-color);
    margin-bottom: -20px;
}

.content-small-titles:not(:first-child) {
    margin-top: 150px;
}

.content-small-titles.fade-in {
    opacity: 1;
}

/* Marquee credits to Ryan Mulligan (https://codepen.io/hexagoncircle/pen/eYMrGwW) */
.marquee-wrapper {
    max-width: var(--content-width);
    margin: auto;
    position: relative;
}

.marquee {
    /* Variables */
    --gap: 3.5rem;
    --duration: 20s;
    --border: 2px solid #36398d;
    
    padding: 1rem;
    max-width: 100%;

    border-top: var(--border);
    border-bottom: var(--border);
    display: flex;
    overflow: hidden;
    gap: var(--gap);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-mask-image: linear-gradient(var(--mask-direction, to right), hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
    mask-image: linear-gradient(var(--mask-direction, to right), hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
}

.marquee-group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    -webkit-animation: scroll var(--duration) linear infinite;
    animation: scroll var(--duration) linear infinite;
}

.marquee-group span {
    max-width: fit-content;
    max-height: fit-content;
    font-family: Roboto Bold;
}

.marquee-group span img {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}